$nielsen-blue: #01adee;
$transition-duration: 1s;

.app.theme-light {
    background: white;
    color: black;
}

.app.theme-dark {
    background: #333;
    color: white;
}

.app {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 65px 1fr 40px;
    grid-template-areas:
        'header header'
        'side-menu body'
        'footer footer';

    .header {
        grid-area: header;
        display: grid;
        grid-template-columns: auto 1fr auto;
        grid-template-areas: 'logo top-menu profile';
        overflow: hidden;

        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;

        .logo {
            grid-area: logo;
        }

        .top-menu {
            grid-area: top-menu;
            display: block;
            white-space: nowrap;
            overflow: hidden;
            overflow-x: scroll;
        }

        .top-menu {
            /* This is the magic bit for Firefox */
            scrollbar-width: none;
        }

        .top-menu::-webkit-scrollbar {
            /* This is the magic bit for WebKit */
            display: none;
        }

        .profile {
            grid-area: profile;
        }
    }

    .side-menu {
        grid-area: side-menu;
        height: 100%;
        z-index: 2;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        position: relative;
        overflow: hidden;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;

        margin-left: 0;
        transition: margin-left $transition-duration;
    }

    .side-menu.hide {
        transition: margin-left $transition-duration;
    }

    .body {
        grid-area: body;
        padding: 8px;
        height: calc(100vh - 65px - 40px - 16px);   // Remember to include padding.
    }

    .footer {
        grid-area: footer;
        position: sticky;
        background-color: orange;
        bottom: 0;
        z-index: 10;

        p {
            line-height: 40px;
            height: 40px;
            text-align: center;
        }
    }
}
