.scrollable-table {
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr 200px 100px 100px 100px 200px 100px;

    overflow: auto;
    max-height: 100vh;
    box-sizing: border-box;

    .row {
        padding: 4px;
        border-bottom: 1px solid grey;
        background-color: white;
    }
    .row-header {
        background-color: pink;
        border-bottom: 1px solid black;
        user-select: none;
        cursor: not-allowed;
    }
    .row-header-sortable {
        cursor: pointer;
    }
    .row-data {
        padding: 8px;
    }

    .selected.row-header {
        font-style: bold;
        color: green;
        box-shadow: 0 0 10px 20px rgba(173, 216, 230, 0.1) inset
    }

    .selected.row-data {
        font-style: bold;
        color: green;
        box-shadow: 0 0 10px 20px rgba(173, 216, 230, 0.5) inset
    }

    .odd-column {
        background-color: #dddddd;
    }

    .odd-column.odd-row {
        background-color: #cccccc;

    }

    .even-row.even-column {
        background-color: #eeeeee;
    }

    // .odd-row {
    //     background-color: #cccccc;
    // }

    // .even-row {
    //     background-color: #bbbbbb;
    // }

    .sticky-top {
        position: sticky;
        top: 0;
        z-index: 1;
    }
    .sticky-sides {
        position: sticky;
        z-index: 1;
    }
    .sticky-left-last {
        border-right: 1px solid black;
    }
    .sticky-right-last {
        border-left: 1px solid black;
    }

    .sticky-top.sticky-sides {
        z-index: 2;
        background-color: red !important;
    }
}
