$nielsen-blue: #01adee;

$lightTheme_BackgroundColor: white;
$lightTheme_TextColor: black;
$lightTheme_DisabledColor: lightgray;

$darkTheme_BackgroundColor: #333;
$darkTheme_TextColor: white;
$darkTheme_DisabledColor: gray;
